@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper > * {
  font-size: 2em;
  color: white;
  text-align: center;
}

p {
  font-size: 14px;
  text-align: left;
}

.blue {
  background-color: #51B0C8;
}

.yellow {
  background-color: #DFB54C;
}

.rose {
  background-color: #BE7D71;
}
